.customers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.customers__list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding-bottom: 94px;
  margin: 0px auto;
}

.customers__icon-card {
  width: 170px;
  height: 92px;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  fill: currentColor;
  color: $link-color;
  text-align: center;
  padding: 16px 32px;
  &:hover {
    fill: $brand-color;
    border-color: $brand-color;
    cubic-bezier: (0.4, 0, 0.2, 1);
    transition: transform 250ms ease;
  }
}
