.bg-color {
  background-color: #2f303a;
  background-size: contain;
}

.footer {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    flex-wrap: nowrap;
  }
}

.footer__contact {
  display: block;
  padding-top: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    margin: 0 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    text-align: start;
    margin: 0 30px;
  }
}

.footer__logo {
  color: $white-background;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  width: 154px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
    width: 145px;
  }
}

.footer__logo-highlight {
  font: "Raleway";
  color: $brand-color;
}

.footer__adress-link {
  margin-top: 28px;
}

.footer__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $white-background;
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    font-weight: 700;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact-info {
    margin-bottom: 60px;
  }
}

.footer__contact-link {
  color: #ffffff99;
  display: block;
  margin-top: 12px;
}

.footer__social {
  display: block;
  padding-top: 60px;
  margin: 0 90px;
}

@media screen and (min-width: 768px) {
  .footer__social {
    padding-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    display: block;
    margin: 0;
    padding-top: 80px;
  }
}

.footer__title {
  display: flex;
  justify-content: center;
  color: $white-background;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    justify-content: start;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin: 0;
  color: $white-background;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover {
    color: $white-background;
    background-color: $brand-color;
    transition: transform 250ms ease cubic-bezier (0.4, 0, 0.2, 1);
  }
}

.footer__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social__form-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social__form-container {
    margin-top: 72px;
    margin: 0;
    text-align: start;
  }
}

.footer-social__email-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social__email-form {
    flex-direction: row;
    gap: 12px;
  }
}

.footer-social__email {
  max-width: 100%;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin: 0 15px;
}

@media screen and (min-width: 768px) {
  .footer-social__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social__email {
    width: 358px;
  }
}

.footer-social__button {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: $brand-color;
  color: $white-background;
  fill: $white-background;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  gap: 25px;
  padding: 10px;
}
