.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $brand-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
  background-color: $white-background;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $white-background;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: $subtitle-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.34;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.menu-page {
  padding-top: 48px;
}

.mobile-menu .link1 {
  font-size: 30px;
  line-height: 1.17;
  color: $brand-color;
}

.mobile-menu .link2 {
  font-size: 24px;
  line-height: 1.16;
  color: $text-color;
}

.menu-contacts {
  margin-top: auto;
  color: $text-color;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.horizontal-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  color: $brand-color;
  margin: 0;
}

.menu-container .menu-social {
  margin-left: 0;
  color: $brand-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.close-menu {
  background: transparent;
  box-shadow: none;
  position: relative;
  left: 85%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  color: $subtitle-color;
  &:hover {
    color: $brand-color;
  }
}

.close-menu > svg {
  fill: currentColor;
}
