.border {
  border-bottom: 1px solid #ececec;
  background-color: $white-background;
}

.header {
  display: flex;
}

.header__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $subtitle-color;
  }

  .contact-list {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .contact-list {
      display: flex;
      flex-direction: column;
      color: $text-color;
      justify-content: center;
      margin-left: auto;
      gap: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
  }

  @media screen and (min-width: 1200px) {
    .contact-list {
      flex-direction: row;
      align-items: center;
      line-height: 1.14;
      margin-left: 339px;
      gap: 40px;
    }
  }

  .contact-list__link {
    color: $text-color;
    font-weight: 500;
    letter-spacing: 0.02em;
    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
      transition: transform 250ms ease cubic-bezier (0.4, 0, 0.2, 1);
    }
  }
  .contact-list__icon {
    fill: currentColor;
    margin-right: 10px;
    &:hover {
      color: $brand-color;
      transition: transform 250ms ease cubic-bezier (0.4, 0, 0.2, 1);
    }
  }
}
