.border {
  border-bottom: 1px solid #ececec;
  background-color: $white-background;
}

.header {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
}

.header__menu {
  display: none;
}

@media (min-width: 760px) {
  .header__menu {
    display: flex;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: start;
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .contact-list {
    flex-direction: row;
  }
}
